.git
.gitignore
.gitattributes
vendor/
node_modules/
writable/logs/*
writable/session/*
writable/debugbar/*
writable/cache/*
.env
.env.*
.idea
.vscode
*.md
!README.md
.DS_Store
*.log
docker-compose.yml
Dockerfile
.dockerignore

